.u-block-945e-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-945e-5 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  right: auto;
}

.u-block-945e-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 659px;
  background-image: none;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: 178px 0 0;
}

.u-section-1-1 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-1-1 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 659px;
  background-image: none;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-1 .u-image-1 {
  width: 255px;
  height: 255px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 393px;
  }
}